<!DOCTYPE html>
<html lang="{{.Lang}}">

<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>

    <link rel='stylesheet' type='text/css' href='/css/print.css' />
    <link rel='stylesheet' type='text/css' href='/css/ow_word_de.css' />
    <script type="text/javascript" src="/js/ow_word_de.js"></script>
    <script type="text/javascript" src="/js/ow_word_de_verb.js"></script>
    <link rel='stylesheet' type='text/css' href='/css/ow_qsa.css' />
    <script type="text/javascript" src="/js/ow_qsa.js"></script>
    <script type="text/javascript" src="/js/ow_listening.js"></script>

    <script type='text/javascript'>
        window.onload = function () {
            OWWordDE.init(false);
            OWWordDEVerb.init(false);
            OWQSA.init(false);
            OWListening.init(true);
            document.getElementById("complete").innerHTML = "complete";
        }
    </script>

</head>

<body>
    {{ .TOC }}
    {{ .Body }}
    <div id="complete" style="display: none;">loading</div>
</body>

</html>